:root {
    --primary-color: #46e8d8;
    --secondary-color: #0e0238;
    --tertiary-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: Helvetica, Arial, sans-serif;
    color: var(--secondary-color);
}

/* START Header styles */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    /* Justify - position on the main axis */
    justify-content: space-between;
    /* Align - position on the cross axis */
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    /* vw = veiwport width */
    font-size: 1.55vw;
}

header nav ul li a:hover{
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
}
/* END Header styles */

/* START Footer styles */
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 22px;
    margin: 0;
}
/* END Footer styles */

/* START Section styels */
.portfolio-wrapper {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.section-title {
    /* Give section titles 20% of vp width */
    flex: 1 20%;
    text-align: center;
    /* border-right: 3px solid var(--primary-color); */
}

.content-wrapper {
    /* Give section content 80% vp width */
    flex: 12 80%;
    padding-left: 20px;
    border-left: 3px solid var(--primary-color);
}

#contact-me .content-wrapper{
    line-height: 1.5;
}

/* START About Me styles */
.about-section .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-text-wrapper {
    padding: 15px;
    margin: 10px;
}

.about-text-wrapper p {
    margin-bottom: 10px;
}

.about-img-wrapper {
    max-width: 200px;
}
.about-img{
    width: 100%;
    border-radius: 25px;
}
/* END About Me styles */

/* START Work styles */
.grid-container {
    display: grid;
    /* create a 3 by 3 grid */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.work-img-wrapper {
    grid-column: span 1;
    position: relative;
}

/* make first image span 2 rows and columns to appear larger */
.work-img-wrapper:first-child{
    grid-column: span 2;
    grid-row: span 2;
}

.work-img {
    width: 95%;
    border: 3px solid var(--primary-color);
}

/* display heading on top of image */
.work-img-heading-wrapper {
    padding: 10px;
    line-height: 1.3;
    background-color: var(--primary-color);
    display: inline-block;
    position: absolute;
    bottom: 20%;
}

.work-img-wrapper:hover .work-img {
    border-color: var(--secondary-color); 
}

.work-img-wrapper:hover .work-img-heading-wrapper{
    background-color: var(--secondary-color);
    color: var(--primary-color)
}
/* END Work styles */

/* START Contact styles */
.contact-section .content-wrapper ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
/* END Contact styles */
/* END Section styles */

/* Media Query for Smaller Desktop Scrrens and Smaller */
@media screen and (max-width: 980px){
    header {
        padding-bottom: 0;
        justify-content: center;
    }
    /* Stack header and nav vertically for screens 980px wide and below */
    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    header nav ul li a {
        font-size: 20px;
    }
    /* Center align footer for screens 980px wide and below */
    footer h2 {
        text-align: center;
        width: 100%;
    }
}

/* Media Query for Tablets and Smaller */
@media screen and (max-width: 768px){
    /* Remove sticky header for screens 768px wide and below */
    header {
        position: relative;
    }
    
    section {
        padding: 30px 15px;
    }
    /* Vertically stack section titles and content when screen width less than 768px */
    .section-title {
        flex: 1 100%;
        padding-bottom: 5px;
    }

    .content-wrapper {
        flex: 2 100%;
        border-left: none;
        border-top: 3px solid var(--primary-color);
        padding-top: 10px;
    }

    /* change grid to have two columns instead of 3 */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(2, 1fr); */
    }
    
    .work-img-wrapper {
        grid-column: span 1;
    }
    
    .work-img-wrapper:first-child{
        grid-column: span 2;
    }

    .work-img-wrapper h3, .work-img-wrapper h4 {
        margin-bottom: 10px;
    } 
}

/* Media Query for Mobile Phones and Smaller */
@media screen and (max-width: 575px){
    .about-img {
        min-width: 150px; 
    }

    /* change grid to have one column */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    /* make work images 80% to appear smaller than first chilc */
    .work-img-wrapper {
        grid-column: span 1;
        width: 80%;
        margin: 0 auto;
    }
    
    /* make first child 100% to appear larger. Set grid row to span 1 to overright earlier rule */
    .work-img-wrapper:first-child{
        grid-column: span 1;
        width: 100%;
        grid-row: span 1;
        margin: 0 auto;
    }

}

