:root {
    --primary-color: #46e8d8;
    --secondary-color: #0e0238;
    --tertiary-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: Helvetica, Arial, sans-serif;
    color: var(--secondary-color);
}

/* START Header styles */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    /* background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%; */
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    /* Justify - position on the main axis */
    justify-content: space-between;
    /* Align - position on the cross axis */
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    /* vw = veiwport width */
    font-size: 1.55vw;
}

header nav ul li a:hover{
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
}
/* END Header styles */

/* START Footer styles */
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 22px;
    margin: 0;
}
/* END Footer styles */

/* START Section styels */
.portfolio-wrapper {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.section-title {
    /* Give section titles 20% of vp width */
    flex: 1 20%;
    text-align: center;
}

.content-wrapper {
    /* Give section content 80% vp width */
    flex: 12 80%;
    margin-top: 20px;
}

/* START About Me styles */
.about-section .content-wrapper {
    display: flex;
    justify-content: space-around;
}

.about-text-wrapper {
    padding: 15px;
    margin: 10px;
}

.about-text-wrapper p {
    margin-bottom: 10px;
}

.about-img{
    width: 200px;
    border-radius: 25px;
}
/* END About Me styles */

/* START Work styles */
.work-img {
    width: 200px;
}
/* END Work styles */
/* END Section styles */

/* Media Query for Smaller Desktop Scrrens and Smaller */
@media screen and (max-width: 980px){
    header {
        padding-bottom: 0;
        justify-content: center;
    }
    /* Stack header and nav vertically for screens 980px wide and below */
    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }
    /* Center align footer for screens 980px wide and below */
    footer h2 {
        text-align: center;
        width: 100%;
    }
}

/* Media Query for Tablets and Smaller */
@media screen and (max-width: 768px){
    /* Remove sticky header for screens 768px wide and below */
    header {
        position: relative;
    }
    
    section {
        padding: 30px 15px;
    }
    /* Vertically stack section titles and content when screen width less than 768px */
    .section-title {
        flex: 1 100%;
    }

    .content-wrapper {
        flex: 2 100%;
    }

}

/* Media Query for Mobile Phones and Smaller */
@media screen and (max-width: 575px){

}

